<p>[#i18n]doc2:Welcome[/i18n] : [username]</p>
[& v_myw_level]
[& v_myw_name]
{{#low_level}}
    <p id="my-lowLevel">Pas d'inquiétude</p>
{{/low_level}}
{{^low_level}}
<p id="my-highLevel"><strong>Vigilance orange</strong></p>
{{/low_level}}