<div class="panel-heading css-array-head array--head">{{label}}</div>
<div class="panel-body css-array-body">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered css-array-content">
            <thead>
                <tr class="array--content--head">

                </tr>
            </thead>
            <tbody class="array--content--body">

            </tbody>
        </table>
    </div>
</div>