<div class="dcpDocument-menu">

</div>
<div class="dcpDocument-content container-fluid">
    <form action="#" role="form" class="dcp-document-form">

    </form>
</div>
<div class="dcpDocument--loading" style="display: none;">
    <h1>Loading</h1>
</div>