<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#documentMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand css-document-icon" href="#" title="{{title}}">
                <img src="{{icon}}"/>
            </a>

            <p class="navbar-text navbar-right css-document-title">
                <a href="#">{{title}}</a>
            </p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse css-document-menu" id="documentMenu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="menu--save">[#i18n]doc2:Save[/i18n]</a>
                </li>
                <li>
                    <a href="#">[#i18n]doc2:Cancel[/i18n]</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse --> </div>
</nav>